pandas.read_json(path_or_buf, *, orient=None, typ='frame', dtype=None, convert_axes=None, convert_dates=True, keep_default_dates=True, precise_float=False, date_unit=None, encoding=None, encoding_errors='strict', lines=False, chunksize=None, compression='infer', nrows=None, storage_options=None, dtype_backend=_NoDefault.no_default, engine='ujson')
- Convert a JSON string to pandas object.

json.loads(s, *, cls=None, object_hook=None, parse_float=None, parse_int=None, parse_constant=None, object_pairs_hook=None, **kw)
- 使用这个 转换表 将 s (一个包含 JSON 文档的 str, bytes 或 bytearray 实例) 反序列化为 Python 对象。

In [3]:
import json
import pandas as pd
with open('每日各站進出站人數/車站基本資料集.json',encoding='utf-8') as file:
    content:list[dict] = json.load(file)   #轉成python資料結構
info_df= pd.DataFrame(content)
info_df

,stationCode,stationName,stationEName,name,ename,stationAddrTw,stationAddrEn,stationTel,gps,haveBike
0,0900,基隆,Keelung,基隆,Keelung,基隆市仁愛區港西街5號,"No. 16-1, Zhongshan 1st Rd, Ren`ai Dist., Keel...",02-24263743,25.13411 121.73997,Y
1,0910,三坑,Sankeng,三坑,Sankeng,基隆市仁愛區德厚里龍安街 206 號,"No. 206, Long’an St., Ren`ai Dist., Keelung City",02-24230289,25.12305 121.74202,Y
2,0920,八堵,Badu,八堵,Badu,基隆市暖暖區八南里八堵路 142 號,"No. 142, Badu Rd., Nuannuan Dist., Keelung City",02-24560841,25.10843 121.72898,Y
3,0930,七堵,Qidu,七堵,Qidu,基隆市七堵區長興里東新街 2 號,"No. 2, Dongxin St., Qidu Dist., Keelung City",02-24553426,25.09294 121.71415,Y
4,0940,百福,Baifu,百福,Baifu,基隆市七堵區堵南里明德三路 1 之 1 號,"No. 1-1, Mingde 3rd Rd., Qidu Dist., Keelung City",02-24528372,25.07795 121.69379,N
...,...,...,...,...,...,...,...,...,...,...
238,7360,瑞芳,Ruifang,瑞芳,Ruifang,新北市瑞芳區龍潭里明燈路三段 82 號,"No. 82, Sec. 3, Mingdeng Rd., Ruifang Dist., N...",02-24972033,25.10861 121.80596,Y
239,7361,海科館,Haikeguan,海科館,Haikeguan,基隆市中正區長潭里,"Changtan Vil., Zhongzheng Dist., Keelung City",02-24972033,25.13754 121.79997,N
240,7362,八斗子,Badouzi,八斗子,Badouzi,新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房),Provincial Highway 2 (Junction of Ruifang Dist...,02-24972033,25.13545 121.80261,N
241,7380,四腳亭,Sijiaoting,四腳亭,Sijiaoting,新北市瑞芳區吉慶里中央路 65 號,"No. 65, Zhongyang Rd., Ruifang Dist., New Taip...",02-24579346,25.10283 121.76192,N
242,7390,暖暖,Nuannuan,暖暖,Nuannuan,基隆市暖暖區暖暖里暖暖街 51 號,"No. 66, Nuannuan St., Nuannuan Dist., Keelung ...",02-24972033,25.10224 121.74048,N

In [4]:
#篩選資料
info_df1 = info_df.reindex(columns=['stationCode','stationName','stationAddrTw'])
info_df1.columns = ['Code','站名','地址']
info_df1['Code'] = info_df1['Code'].astype(int)   #Series.astype 轉換type型別
info_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    243 non-null    int32
 1   站名      243 non-null    object
 2   地址      243 non-null    object
dtypes: int32(1), object(2)
memory usage: 4.9+ KB

In [5]:
site2023_df = pd.read_csv('每日各站進出站人數/每日各站進出站人數2023.csv')
site2023_df.columns = ['日期','Code','進站','出站']
site2023_df

             日期  Code    進站    出站
0      20230101   900  8030  8241
1      20230101   910  1017  1326
2      20230101   920  1400  1705
3      20230101   930  3558  4398
4      20230101   940  1509  1815
...         ...   ...   ...   ...
86604  20231231  7360  7916  8252
86605  20231231  7361   164   195
86606  20231231  7362   652   720
86607  20231231  7380  1526   656
86608  20231231  7390   576   447

[86609 rows x 4 columns]

In [6]:
merge2023 = pd.merge(site2023_df,info_df1)
merge2023

,日期,Code,進站,出站,站名,地址
0,20230101,900,8030,8241,基隆,基隆市仁愛區港西街5號
1,20230101,910,1017,1326,三坑,基隆市仁愛區德厚里龍安街 206 號
2,20230101,920,1400,1705,八堵,基隆市暖暖區八南里八堵路 142 號
3,20230101,930,3558,4398,七堵,基隆市七堵區長興里東新街 2 號
4,20230101,940,1509,1815,百福,基隆市七堵區堵南里明德三路 1 之 1 號
...,...,...,...,...,...,...
86604,20231231,7360,7916,8252,瑞芳,新北市瑞芳區龍潭里明燈路三段 82 號
86605,20231231,7361,164,195,海科館,基隆市中正區長潭里
86606,20231231,7362,652,720,八斗子,新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房)
86607,20231231,7380,1526,656,四腳亭,新北市瑞芳區吉慶里中央路 65 號
86608,20231231,7390,576,447,暖暖,基隆市暖暖區暖暖里暖暖街 51 號

In [7]:
merge2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86609 entries, 0 to 86608
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86609 non-null  int64
 1   Code    86609 non-null  int64
 2   進站      86609 non-null  int64
 3   出站      86609 non-null  int64
 4   站名      86609 non-null  object
 5   地址      86609 non-null  object
dtypes: int64(4), object(2)
memory usage: 4.0+ MB

pandas.to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=False, format=None, exact=_NoDefault.no_default, unit=None, infer_datetime_format=_NoDefault.no_default, origin='unix', cache=True)
- Convert argument to datetime.

In [8]:
# 將整個內部字串轉為 日期
merge2023['日期'] = pd.to_datetime(merge2023['日期'].astype(str))

In [9]:
merge2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86609 entries, 0 to 86608
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      86609 non-null  datetime64[ns]
 1   Code    86609 non-null  int64
 2   進站      86609 non-null  int64
 3   出站      86609 non-null  int64
 4   站名      86609 non-null  object
 5   地址      86609 non-null  object
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 4.0+ MB

DataFrame.set_index(keys, *, drop=True, append=False, inplace=False, verify_integrity=False)[source]
- Set the DataFrame index using existing columns.
- keys：label or array-like or list of labels/arrays

In [10]:
# 將 日期column 改為 DataFrame的 index
merge2023_1 = merge2023.set_index('日期')
merge2023_1

,Code,進站,出站,站名,地址
日期,,,,,
2023-01-01,900,8030,8241,基隆,基隆市仁愛區港西街5號
2023-01-01,910,1017,1326,三坑,基隆市仁愛區德厚里龍安街 206 號
2023-01-01,920,1400,1705,八堵,基隆市暖暖區八南里八堵路 142 號
2023-01-01,930,3558,4398,七堵,基隆市七堵區長興里東新街 2 號
2023-01-01,940,1509,1815,百福,基隆市七堵區堵南里明德三路 1 之 1 號
...,...,...,...,...,...
2023-12-31,7360,7916,8252,瑞芳,新北市瑞芳區龍潭里明燈路三段 82 號
2023-12-31,7361,164,195,海科館,基隆市中正區長潭里
2023-12-31,7362,652,720,八斗子,新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房)
2023-12-31,7380,1526,656,四腳亭,新北市瑞芳區吉慶里中央路 65 號
2023-12-31,7390,576,447,暖暖,基隆市暖暖區暖暖里暖暖街 51 號

In [11]:
# 更改欄位
merge2023_2 = merge2023_1.reindex(columns=['站名','地址','進站','出站'])
merge2023_2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 86609 entries, 2023-01-01 to 2023-12-31
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   站名      86609 non-null  object
 1   地址      86609 non-null  object
 2   進站      86609 non-null  int64
 3   出站      86609 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.3+ MB

In [12]:
merge2023_2.loc['2023-01-01']

             站名                                             地址    進站    出站
日期
2023-01-01   基隆                                    基隆市仁愛區港西街5號  8030  8241
2023-01-01   三坑                             基隆市仁愛區德厚里龍安街 206 號  1017  1326
2023-01-01   八堵                             基隆市暖暖區八南里八堵路 142 號  1400  1705
2023-01-01   七堵                               基隆市七堵區長興里東新街 2 號  3558  4398
2023-01-01   百福                          基隆市七堵區堵南里明德三路 1 之 1 號  1509  1815
...         ...                                            ...   ...   ...
2023-01-01   瑞芳                            新北市瑞芳區龍潭里明燈路三段 82 號  4543  5222
2023-01-01  海科館                                      基隆市中正區長潭里    93   123
2023-01-01  八斗子  新北市瑞芳區建基路2段121號隔壁 砂子里省道臺 2 線 (與新北市瑞芳區交界處、無站房)   415   429
2023-01-01  四腳亭                              新北市瑞芳區吉慶里中央路 65 號   485   495
2023-01-01   暖暖                              基隆市暖暖區暖暖里暖暖街 51 號   258   370

[238 rows x 4 columns]