pandas.read_csv(filepath_or_buffer, *, sep=_NoDefault.no_default, delimiter=None, header='infer', names=_NoDefault.no_default, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=_NoDefault.no_default, skip_blank_lines=True, parse_dates=None, infer_datetime_format=_NoDefault.no_default, keep_date_col=_NoDefault.no_default, date_parser=_NoDefault.no_default, date_format=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors='strict', dialect=None, on_bad_lines='error', delim_whitespace=_NoDefault.no_default, low_memory=True, memory_map=False, float_precision=None, storage_options=None, dtype_backend=_NoDefault.no_default)[source]
- Read a comma-separated values (csv) file into DataFrame.
- Also supports optionally iterating or breaking of the file into chunks.
- Additional help can be found in the online docs for IO Tools.

In [1]:
import numpy as np
import pandas as pd

#後續都用dataframe清理資料
df1= pd.read_csv('world.csv')
df1

,ID,iso_code,洲名,國家,日期,總確診數,新增確診數,七天移動平均新增確診數,總死亡數,新增死亡數,...,七天移動平均疫苗新增接種劑數,每百人接種疫苗劑數,每百人接種疫苗人數,疫情控管指數,總人口數,中位數年紀,70歲以上人口比例,平均壽命,解除隔離數,解封指數
0,1,AFG,亞洲,阿富汗,2020-02-24,5,5,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
1,2,AFG,亞洲,阿富汗,2020-02-25,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
2,3,AFG,亞洲,阿富汗,2020-02-26,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
3,4,AFG,亞洲,阿富汗,2020-02-27,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
4,5,AFG,亞洲,阿富汗,2020-02-28,5,0,0.000,0,0,...,0.0,0.00,0.00,8.33,39835428,18.6,1.337,64.83,0,99999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187880,187881,ZWE,非洲,辛巴威,2022-07-02,255586,0,39.571,5555,0,...,6190.0,79.41,41.81,0.00,15092171,19.6,1.882,61.49,0,99999.0
187881,187882,ZWE,非洲,辛巴威,2022-07-03,255586,0,33.000,5555,0,...,8710.0,79.55,41.86,0.00,15092171,19.6,1.882,61.49,0,99999.0
187882,187883,ZWE,非洲,辛巴威,2022-07-04,255726,140,49.000,5558,3,...,10797.0,79.67,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187883,187884,ZWE,非洲,辛巴威,2022-07-05,255755,29,53.143,5558,0,...,10821.0,79.68,41.90,0.00,15092171,19.6,1.882,61.49,0,99999.0
187884,187885,ZWE,非洲,辛巴威,2022-07-06,255805,50,40.714,5560,2,...,0.0,0.00,0.00,0.00,15092171,19.6,1.882,61.49,0,99999.0

In [2]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [6]:
# 選取欄列 -> reindex
df2 = df1.reindex(columns=['洲名','國家','日期','總確診數','新增確診數'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   洲名      187885 non-null  object
 1   國家      187885 non-null  object
 2   日期      187885 non-null  object
 3   總確診數    187885 non-null  int64
 4   新增確診數   187885 non-null  int64
dtypes: int64(2), object(3)
memory usage: 7.2+ MB

In [7]:
#檢查 query(全是字串)

taiwan_df = df2.query('國家=="台灣"')
taiwan_df

        洲名  國家          日期     總確診數  新增確診數
163986  亞洲  台灣  2020-01-16        0      0
163987  亞洲  台灣  2020-01-17        0      0
163988  亞洲  台灣  2020-01-18        0      0
163989  亞洲  台灣  2020-01-19        0      0
163990  亞洲  台灣  2020-01-20        0      0
...     ..  ..         ...      ...    ...
164884  亞洲  台灣  2022-07-02  3837856  34807
164885  亞洲  台灣  2022-07-03  3870528  32672
164886  亞洲  台灣  2022-07-04  3893643  23115
164887  亞洲  台灣  2022-07-05  3929627  35984
164888  亞洲  台灣  2022-07-06  3964188  34561

[903 rows x 5 columns]

In [8]:
taiwan_df.query('新增確診數==0')

        洲名  國家          日期    總確診數  新增確診數
163986  亞洲  台灣  2020-01-16       0      0
163987  亞洲  台灣  2020-01-17       0      0
163988  亞洲  台灣  2020-01-18       0      0
163989  亞洲  台灣  2020-01-19       0      0
163990  亞洲  台灣  2020-01-20       0      0
...     ..  ..         ...     ...    ...
164627  亞洲  台灣  2021-10-18   16337      0
164823  亞洲  台灣  2022-05-02  132955      0
164828  亞洲  台灣  2022-05-07  268569      0
164829  亞洲  台灣  2022-05-08  268569      0
164834  亞洲  台灣  2022-05-13  570870      0

[186 rows x 5 columns]

In [10]:
tw2021_df = taiwan_df.query('日期>="2021-01-01" and 日期<="2021-12-31"')
tw2021_df

        洲名  國家          日期   總確診數  新增確診數
164337  亞洲  台灣  2021-01-01    802      3
164338  亞洲  台灣  2021-01-02    808      6
164339  亞洲  台灣  2021-01-03    812      4
164340  亞洲  台灣  2021-01-04    815      3
164341  亞洲  台灣  2021-01-05    817      2
...     ..  ..         ...    ...    ...
164697  亞洲  台灣  2021-12-27  16931     16
164698  亞洲  台灣  2021-12-28  16950     19
164699  亞洲  台灣  2021-12-29  16964     14
164700  亞洲  台灣  2021-12-30  16988     24
164701  亞洲  台灣  2021-12-31  17029     41

[365 rows x 5 columns]

DataFrame.to_csv(path_or_buf=None, *, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', lineterminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.', errors='strict', storage_options=None)[source]
- Write object to a comma-separated values (csv) file.

In [12]:
# 輸出成為 CSV檔
tw2021_df.to_csv('waiwan2021.csv',index=False)

DataFrame.to_excel(excel_writer, *, sheet_name='Sheet1', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, startrow=0, startcol=0, engine=None, merge_cells=True, inf_rep='inf', freeze_panes=None, storage_options=None, engine_kwargs=None)[source]
- Write object to an Excel sheet.

In [13]:
# 輸出成為 CSV檔
tw2021_df.to_excel('waiwan2021.xlsx',index=False)

ModuleNotFoundError: No module named 'openpyxl'