In [2]:
# 快速建立list -> comprehension
[f'{num}號' for num in range(1,51)]

['1號',
 '2號',
 '3號',
 '4號',
 '5號',
 '6號',
 '7號',
 '8號',
 '9號',
 '10號',
 '11號',
 '12號',
 '13號',
 '14號',
 '15號',
 '16號',
 '17號',
 '18號',
 '19號',
 '20號',
 '21號',
 '22號',
 '23號',
 '24號',
 '25號',
 '26號',
 '27號',
 '28號',
 '29號',
 '30號',
 '31號',
 '32號',
 '33號',
 '34號',
 '35號',
 '36號',
 '37號',
 '38號',
 '39號',
 '40號',
 '41號',
 '42號',
 '43號',
 '44號',
 '45號',
 '46號',
 '47號',
 '48號',
 '49號',
 '50號']

- numpy包在 DataFrame 內，取出numpy
- pandas.DataFrame.values
- Return a Numpy representation of the DataFrame.

In [3]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','自然','社會'],   #欄位
             index = [f'{num}號' for num in range(1,51)],   #索引
             )

df1

     國文  英文  數學  自然  社會
1號   56  69  95  57  78
2號   51  60  96  87  67
3號   86  96  93  61  58
4號   50  74  78  54  63
5號   54  85  56  85  98
6號   50  98  80  73  68
7號   79  77  95  96  69
8號   71  82  88  65  89
9號   53  68  82  96  58
10號  62  53  69  58  68
11號  77  71  96  70  94
12號  77  90  79  71  86
13號  86  67  92  68  75
14號  56  86  81  90  66
15號  65  77  93  89  93
16號  63  84  89  87  88
17號  60  56  70  74  87
18號  83  75  79  62  66
19號  69  58  82  54  80
20號  50  97  58  62  69
21號  84  94  69  78  97
22號  58  79  83  95  57
23號  68  82  83  66  69
24號  86  83  94  99  50
25號  52  89  75  54  96
26號  72  69  95  51  93
27號  85  55  77  96  88
28號  78  74  58  70  89
29號  61  75  88  85  54
30號  62  52  54  87  60
31號  87  92  59  84  99
32號  80  65  83  81  68
33號  92  91  84  53  97
34號  95  85  88  59  59
35號  76  74  62  78  74
36號  72  98  86  68  97
37號  92  77  74  68  83
38號  53  62  86  75  78
39號  86  78  76  52  93
40號  53  62  76  88  96
41號  67  72  59  67  67
42號  67  82  64  55  86
43號  82  59  62  92  81
44號  72  52  61  80  74
45號  53  62  73  55  68
46號  81  77  86  87  56
47號  68  86  67  92  76
48號  84  87  93  64  93
49號  92  67  58  60  62
50號  53  78  75  54  72

In [4]:
# 從dataFrame 取出 ndarray
df1.values

array([[56, 69, 95, 57, 78],
       [51, 60, 96, 87, 67],
       [86, 96, 93, 61, 58],
       [50, 74, 78, 54, 63],
       [54, 85, 56, 85, 98],
       [50, 98, 80, 73, 68],
       [79, 77, 95, 96, 69],
       [71, 82, 88, 65, 89],
       [53, 68, 82, 96, 58],
       [62, 53, 69, 58, 68],
       [77, 71, 96, 70, 94],
       [77, 90, 79, 71, 86],
       [86, 67, 92, 68, 75],
       [56, 86, 81, 90, 66],
       [65, 77, 93, 89, 93],
       [63, 84, 89, 87, 88],
       [60, 56, 70, 74, 87],
       [83, 75, 79, 62, 66],
       [69, 58, 82, 54, 80],
       [50, 97, 58, 62, 69],
       [84, 94, 69, 78, 97],
       [58, 79, 83, 95, 57],
       [68, 82, 83, 66, 69],
       [86, 83, 94, 99, 50],
       [52, 89, 75, 54, 96],
       [72, 69, 95, 51, 93],
       [85, 55, 77, 96, 88],
       [78, 74, 58, 70, 89],
       [61, 75, 88, 85, 54],
       [62, 52, 54, 87, 60],
       [87, 92, 59, 84, 99],
       [80, 65, 83, 81, 68],
       [92, 91, 84, 53, 97],
       [95, 85, 88, 59, 59],
       [76, 74, 62, 78, 74],
       [72, 98, 86, 68, 97],
       [92, 77, 74, 68, 83],
       [53, 62, 86, 75, 78],
       [86, 78, 76, 52, 93],
       [53, 62, 76, 88, 96],
       [67, 72, 59, 67, 67],
       [67, 82, 64, 55, 86],
       [82, 59, 62, 92, 81],
       [72, 52, 61, 80, 74],
       [53, 62, 73, 55, 68],
       [81, 77, 86, 87, 56],
       [68, 86, 67, 92, 76],
       [84, 87, 93, 64, 93],
       [92, 67, 58, 60, 62],
       [53, 78, 75, 54, 72]])

In [5]:
# dataFrame [欄位名稱]
print(type(df1['國文']))
df1['國文'], df1['英文']

# 可知 dataFrame 由多個 Series 組合起來，Series只有索引(index)，沒有欄位
# -> Series 是一維資料；DataFrame 是二維資料

<class 'pandas.core.series.Series'>

(1號     56
 2號     51
 3號     86
 4號     50
 5號     54
 6號     50
 7號     79
 8號     71
 9號     53
 10號    62
 11號    77
 12號    77
 13號    86
 14號    56
 15號    65
 16號    63
 17號    60
 18號    83
 19號    69
 20號    50
 21號    84
 22號    58
 23號    68
 24號    86
 25號    52
 26號    72
 27號    85
 28號    78
 29號    61
 30號    62
 31號    87
 32號    80
 33號    92
 34號    95
 35號    76
 36號    72
 37號    92
 38號    53
 39號    86
 40號    53
 41號    67
 42號    67
 43號    82
 44號    72
 45號    53
 46號    81
 47號    68
 48號    84
 49號    92
 50號    53
 Name: 國文, dtype: int32,
 1號     69
 2號     60
 3號     96
 4號     74
 5號     85
 6號     98
 7號     77
 8號     82
 9號     68
 10號    53
 11號    71
 12號    90
 13號    67
 14號    86
 15號    77
 16號    84
 17號    56
 18號    75
 19號    58
 20號    97
 21號    94
 22號    79
 23號    82
 24號    83
 25號    89
 26號    69
 27號    55
 28號    74
 29號    75
 30號    52
 31號    92
 32號    65
 33號    91
 34號    85
 35號    74
 36號    98
 37號    77
 38號    62
 39號    78
 40號    62
 41號    72
 42號    82
 43號    59
 44號    52
 45號    62
 46號    77
 47號    86
 48號    87
 49號    67
 50號    78
 Name: 英文, dtype: int32)

In [6]:
# Series的選取，使用 subscript
# Series [數值的index]
df1['國文'][4]
# Series [數值的slice]
df1['國文'][:5]
# Series[字串的index]
df1['國文']['3號']
# Series[[字串,字串,字串]]
df1['國文'][['1號','2號','5號']]

C:\Users\Han PC\AppData\Local\Temp\ipykernel_5688\1668220326.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1['國文'][4]

1號    56
2號    51
5號    54
Name: 國文, dtype: int32

In [7]:
# dataFrame的subscripts
# dataFrame[欄位名稱]
df1['國文']

1號     56
2號     51
3號     86
4號     50
5號     54
6號     50
7號     79
8號     71
9號     53
10號    62
11號    77
12號    77
13號    86
14號    56
15號    65
16號    63
17號    60
18號    83
19號    69
20號    50
21號    84
22號    58
23號    68
24號    86
25號    52
26號    72
27號    85
28號    78
29號    61
30號    62
31號    87
32號    80
33號    92
34號    95
35號    76
36號    72
37號    92
38號    53
39號    86
40號    53
41號    67
42號    67
43號    82
44號    72
45號    53
46號    81
47號    68
48號    84
49號    92
50號    53
Name: 國文, dtype: int32

In [8]:
# dataFrame的subscripts：欄的選取
# dataFrame[[欄位名稱,欄位名稱]]
df1[['國文','英文']]

     國文  英文
1號   56  69
2號   51  60
3號   86  96
4號   50  74
5號   54  85
6號   50  98
7號   79  77
8號   71  82
9號   53  68
10號  62  53
11號  77  71
12號  77  90
13號  86  67
14號  56  86
15號  65  77
16號  63  84
17號  60  56
18號  83  75
19號  69  58
20號  50  97
21號  84  94
22號  58  79
23號  68  82
24號  86  83
25號  52  89
26號  72  69
27號  85  55
28號  78  74
29號  61  75
30號  62  52
31號  87  92
32號  80  65
33號  92  91
34號  95  85
35號  76  74
36號  72  98
37號  92  77
38號  53  62
39號  86  78
40號  53  62
41號  67  72
42號  67  82
43號  82  59
44號  72  52
45號  53  62
46號  81  77
47號  68  86
48號  84  87
49號  92  67
50號  53  78

### pandas.DataFrame.loc
- 通過標籤或布爾陣列訪問一組行和列。
- loc 用字串；iloc 用索引

In [ ]:
# dataFrame的loc：列的選取
# loc[字串]
# iloc [數值]

In [9]:
# 選取1號
df1.loc['1號']

國文    56
英文    69
數學    95
自然    57
社會    78
Name: 1號, dtype: int32

In [32]:
# 選取多號
# loc[[字串,字串]]
df1.loc[['1號','2號','3號']]

    國文  英文  數學  自然  社會
1號  93  96  98  94  71
2號  96  55  59  93  62
3號  81  90  58  63  88

In [34]:
# 選取多號
# iloc[index:index]
df1.iloc[:3]

    國文  英文  數學  自然  社會
1號  93  96  98  94  71
2號  96  55  59  93  62
3號  81  90  58  63  88

In [36]:
# 選取後5位
# loc[數值索引:數值索引]
df1.iloc[-5:]

     國文  英文  數學  自然  社會
46號  70  97  73  74  77
47號  58  64  69  65  72
48號  58  73  62  58  77
49號  83  95  75  84  51
50號  75  65  62  54  64