list 最好用的地方，在於"搜尋" (搭配for...in...)
 - "排序" (小到大/大到小)
- => map() / filter()/ sorted()
# Series 
- sort_index()/ sort_value()
# DataFrame
- sort_index()/ sort_value()

In [1]:
import pandas as pd
s1 = pd.Series(range(4),index =['d','a','b','c'])
s1

d    0
a    1
b    2
c    3
dtype: int64

Series.sort_index(*, axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False, key=None)[source]
- Sort Series by index labels.
- Returns a new Series sorted by label if inplace argument is False, otherwise updates the original series and returns None.

- ascending: True:由小到大 / False:由大到小

Series.sort_values(*, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)[source]
- Sort by the values.

In [2]:
s1 = pd.Series(range(4),index =['d','a','b','c'])
print(s1.sort_index())   #index做由小到大的排序
print(s1.sort_values(ascending=False))  #value做由小到大的排序

a    1
b    2
c    3
d    0
dtype: int64
c    3
b    2
a    1
d    0
dtype: int64

In [6]:
import numpy as np
frame = pd.DataFrame(np.arange(8).reshape(2,4),
             index=['three','one'],
             columns=['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [7]:
frame.sort_index()  # 比較 axis=0 (one / three) 排序 先o再t

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [8]:
frame.sort_index(axis=1)   # 將axis=1 (d/a/b/c) 做排序 ->  a/b/c/d

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

DataFrame.sort_values(by, *, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)[source]
- Sort by the values along either axis.
- by: str or list of str

In [9]:
frame.sort_values(by='a')   #依據column；a　的值做排序

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [10]:
frame.sort_values(by='a', ascending= False)

       d  a  b  c
one    4  5  6  7
three  0  1  2  3