請收集台積電,聯電,聯發科,鴻海的所有收盤價的資料,成為DataFrame
- 台積電(2330.TW),聯電(2303.TW),聯發科(2454.TW),鴻海(2317.TW)

In [1]:
import pandas_datareader.data as pdr
import yfinance as yf
import pandas as pd

yf.pdr_override()    ##把資料抓到本機
all_stocks = {item:pdr.get_data_yahoo(item) for item in ['2330.TW', '2303.TW', '2454.TW', '2317.TW']}

df_stocks = pd.DataFrame({key:df['Adj Close'] for key, df in all_stocks.items()})  #返回一个视图对象，该对象显示字典的（键，值）元组对的列表。
df_stocks.columns = ["台積電", "聯電", "聯發科","鴻海"]
df_stocks

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

              台積電         聯電     聯發科          鴻海
Date
1993-01-05    NaN        NaN     NaN    0.409765
1993-01-06    NaN        NaN     NaN    0.402878
1993-01-07    NaN        NaN     NaN    0.401157
1993-01-08    NaN        NaN     NaN    0.389105
1993-01-11    NaN        NaN     NaN    0.391687
...           ...        ...     ...         ...
2024-06-20  981.0  57.500000  1500.0  217.500000
2024-06-21  970.0  57.700001  1490.0  212.000000
2024-06-24  940.0  56.799999  1410.0  206.000000
2024-06-25  945.0  56.400002  1385.0  211.000000
2024-06-26  952.0  56.200001  1405.0  210.500000

[7925 rows x 4 columns]