# 階層式索引 (level)

In [11]:
import numpy as np
import pandas as pd

# 雙索引   #random.randn()用來隨機建立資料
s1 = pd.Series(np.random.randn(9),
               index=[['a','a','a','b','b','c','c','d','d'],
                      [1, 2, 3, 1 ,2, 3, 1, 2, 3]])

s1.index
s1.index.names =['index1','index2']
s1

index1  index2
a       1         0.885166
        2        -0.488215
        3         2.605396
b       1         1.581087
        2         0.734457
c       3        -1.002886
        1         1.088587
d       2        -0.442102
        3        -0.492874
dtype: float64

In [12]:
s1['a']

index2
1    0.885166
2   -0.488215
3    2.605396
dtype: float64

In [13]:
s1['a'][-2:]

index2
2   -0.488215
3    2.605396
dtype: float64

Series.unstack(level=-1, fill_value=None, sort=True)[source]
- Unstack, also known as pivot, Series with MultiIndex to produce DataFrame. 使用 MultiIndex 串聯以生成 DataFrame。
- level：int, str, or list of these, default last level
Level(s) to unstack, can pass level name.

In [15]:
# 改變欄列呈現不同索引 (pivot樞紐分析)  unstack ->設定column
s1.unstack('index1')

index1         a         b         c         d
index2
1       0.885166  1.581087  1.088587       NaN
2      -0.488215  0.734457       NaN -0.442102
3       2.605396       NaN -1.002886 -0.492874

In [16]:
s1.unstack('index2')

index2         1         2         3
index1
a       0.885166 -0.488215  2.605396
b       1.581087  0.734457       NaN
c       1.088587       NaN -1.002886
d            NaN -0.442102 -0.492874

In [17]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                    index=[['a','a','b','b'],[1, 2, 1, 2]],
                    columns=[['台北','台北','台中'],['Green','Red','Green']])
# 四維資料
frame

       台北        台中
    Green Red Green
a 1     0   1     2
  2     3   4     5
b 1     6   7     8
  2     9  10    11

In [18]:
frame.columns.names = ['縣市','顏色']
frame.index.names = ['key1','key2']
frame   #非堆疊資料

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

DataFrame.stack(level=-1, dropna=_NoDefault.no_default, sort=_NoDefault.no_default, future_stack=False)[source]
- Stack the prescribed level(s) from columns to index.

In [22]:
S2 = frame.stack(['縣市','顏色'],future_stack=True) #變為堆疊資料
S2

key1  key2  縣市  顏色
a     1     台北  Green     0
                Red       1
            台中  Green     2
      2     台北  Green     3
                Red       4
            台中  Green     5
b     1     台北  Green     6
                Red       7
            台中  Green     8
      2     台北  Green     9
                Red      10
            台中  Green    11
dtype: int32

In [24]:
S2.unstack(['key1','縣市'])  #樞紐分析

key1          a          b
縣市           台北   台中    台北    台中
key2 顏色
1    Green  0.0  2.0   6.0   8.0
     Red    1.0  NaN   7.0   NaN
2    Green  3.0  5.0   9.0  11.0
     Red    4.0  NaN  10.0   NaN

In [25]:
S2.unstack(['key1','縣市','顏色'])

key1     a               b
縣市      台北        台中    台北        台中
顏色   Green Red Green Green Red Green
key2
1        0   1     2     6   7     8
2        3   4     5     9  10    11

In [26]:
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

DataFrame.groupby(by=None, axis=_NoDefault.no_default, level=None, as_index=True, sort=True, group_keys=True, observed=_NoDefault.no_default, dropna=True)[source]
- Group DataFrame using a mapper or by a Series of columns.

- A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

In [33]:
# 將相同index內之 value做計算
print(frame.groupby(level='key1').sum())  #以相同index(key1)做計算
print(frame.groupby(level='key2').sum())

縣市      台北        台中
顏色   Green Red Green
key1
a        3   5     7
b       15  17    19
縣市      台北        台中
顏色   Green Red Green
key2
1        6   8    10
2       12  14    16