請將lesson17資料夾內的world.csv,選取台灣和日本的資料,並且找出2021-01-01~2021-01-31(2021,1月份的資料)。輸出成csv,xlsx,josn

In [8]:
import numpy as np
import pandas as pd

df1= pd.read_csv('world.csv')
df2 = df1.reindex(columns=['洲名','國家','日期','總確診數','新增確診數'])
#檢查 query(全是字串)
twjp_df = df2.query('國家=="台灣" or 國家=="日本"')
twjp2021_df = twjp_df.query('日期>="2021-01-01" and 日期<="2021-01-31"')
twjp2021_df

        洲名  國家          日期    總確診數  新增確診數
85971   亞洲  日本  2021-01-01  239005   3256
85972   亞洲  日本  2021-01-02  242076   3071
85973   亞洲  日本  2021-01-03  245242   3166
85974   亞洲  日本  2021-01-04  248585   3343
85975   亞洲  日本  2021-01-05  253534   4949
...     ..  ..         ...     ...    ...
164363  亞洲  台灣  2021-01-27     893      3
164364  亞洲  台灣  2021-01-28     895      2
164365  亞洲  台灣  2021-01-29     899      4
164366  亞洲  台灣  2021-01-30     909     10
164367  亞洲  台灣  2021-01-31     911      2

[62 rows x 5 columns]

In [9]:
import numpy as np
import pandas as pd

df1= pd.read_csv('world.csv')
df2 = df1.reindex(columns=['洲名','國家','日期','總確診數','新增確診數'])
twjp_df = df2.query('國家=="台灣" or 國家=="日本"')
twjp202101_df = twjp_df.query('日期>="2021-01-01" and 日期<="2021-01-31"')

twjp202101_df.to_csv('twjp202101.csv',index=False)
twjp202101_df.to_excel('twjp202101.xlsx',index=False,sheet_name='2021')
twjp202101_df.to_json('twjp202101.json', orient='table', force_ascii=False)

in => 檢查是否有在這個資料裡面

In [3]:
'momo'in ['James','John']

False

In [4]:
'James' in ['James','John']

True

In [5]:
x = 80
x >= 60 and x <= 100
60 <= x <= 100

True

In [6]:
import pandas as pd

df= pd.read_csv('world.csv')
df1 = df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數'])
twjp_df = df1.query('國家 in ["台灣", "日本"]')
twjp202101_df = twjp_df.query('"2021-01-01" <= 日期 <= "2021-01-31"')
twjp202101_df

        洲名  國家          日期    總確診數  新增確診數
85971   亞洲  日本  2021-01-01  239005   3256
85972   亞洲  日本  2021-01-02  242076   3071
85973   亞洲  日本  2021-01-03  245242   3166
85974   亞洲  日本  2021-01-04  248585   3343
85975   亞洲  日本  2021-01-05  253534   4949
...     ..  ..         ...     ...    ...
164363  亞洲  台灣  2021-01-27     893      3
164364  亞洲  台灣  2021-01-28     895      2
164365  亞洲  台灣  2021-01-29     899      4
164366  亞洲  台灣  2021-01-30     909     10
164367  亞洲  台灣  2021-01-31     911      2

[62 rows x 5 columns]